# Игнорирование файлов виртуального окружения
venv/
.venv/


*.pyc
__pycache__/

# Игнорирование файлов окружения
.env

# Статические файлы
/static/

# База данных SQLite
*.sqlite3

# Логи
*.log

# Миграции Django
*/migrations/

# Медиафайлы
/media/

# Настройки среды разработки (PyCharm, VSCode и другие)
.idea/
.vscode/

# Другие редакторы/IDE
*.swp
